.App {
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top:4%;
}

.calculator{
  display:flex;
  flex-wrap:wrap;
  align-content: center;
  width:30%;
  border: rgba(192, 77, 77, 0.863) solid 3px;
}

.display{
  width:100%;
  background-color:black;
  color:white;
  vertical-align:middle;
  height:100px;
  line-height: 100px;
  font-size: 2.2em;
}

.button{
  width:25%;
  box-sizing: border-box;
  border: rgba(192, 77, 77, 0.863) solid 1px;
  height:80px;
  vertical-align:middle;
  line-height: 80px;
  font-size: 2em;
  font-weight: bold;
  cursor:pointer;
}

.clear{
  width:75%;
}

.operator{
  background: rgba(192, 113, 77, 0.863);
  color:white;
}