.App {
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top:4%;
}

.calculator{
  display:flex;
  flex-wrap:wrap;
  width:20%;
}

.display{
  width:100%;
  background-color:black;
  color:white;
  vertical-align:middle;
  height:100px;
  line-height: 100px;
}

.button{
  width:25%;
  box-sizing: border-box;
  border: rgba(192, 77, 77, 0.863) solid 1px;
}

.clear{
  width:75%;
}

.operator{
  background: rgba(192, 113, 77, 0.863);
  color:white;
}